<div class="songholder">
<a style="text-align:right;font-size:11px;" href="/songs/">Dashboard</a>

  <p>Others who added <%=@song.artist%> - <%=@song.title%></p>


<div style="overflow-y:auto;box-shadow: 3px 3px 10px #666666;">
<table style="border:1px solid #999999;background-color:white;width:450px;border-spacing:0px;">


<thead style="background-color:#5A8DB2;font-size:14px;;color:#eeeeee">
  <tr>
    <td style="padding:8px;">Name</td>
    <td style="padding:4px;">Times Added</td>
  </tr>
</thead>
<tbody>
      <% @playlist.each do |list| %>
      <% if list.user != @user%>
      <tr style="font-size:12px;">
        <td style="padding:4px;"> <a href="/users/<%=list.user_id%>"> <%= list.user.first_name %> <%= list.user.last_name %></a></td>
        <td style="padding:4px;"> <%=list.add%></a> </td>

      <% end %>
      </td>

      </tr>
    <% end %>
</tbody>
</table>
</div>
</div>
